/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*FIN RESET CSS*/
/*CALIBRAGE PX/REM*/
html {
    font-size: 62.5%;
}
/*FIN CALIBRAGE PX/REM*/



/* Attributions couleurs aux tiles*/
.color-yellow {
    background-color: #ff9e00;
}

.color-blue {
    background-color: #1e8bc4;
}

.color-green{
    background-color: #35bc7a;
}

.color-orange {
    background-color: #f86925;
}

.color-red {
    background-color: #f15a49;
}
/* Fin attribution couleurs au tiles*/

body{
    display: flex;
    justify-content: center;
    background-color: #c9c9c9;
    font-size: 1.2rem;
}

.name-link i {
    padding-top: 1rem;
    padding-right: .5rem;
}

.tile i {
    padding-bottom: 1rem;
}

#all {
    display: flex;
    width: 100%;
    color: white;
    font-family: sans-serif;
    align-items: flex-start;
    max-width: 1000px;
    flex-direction: row;
    margin: 5rem;
}

#tiles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.tile {
    width: 20rem;
    height: 20rem;
    flex-grow: 1;
    display: flex;
}

#name {
    width: 40rem;
    height: 20rem;
    flex-grow: 1;
}

#picture {
    width: 40rem;
    height: 60rem
}

#picture img {
    width: 40rem;
    height: 60rem;
    display: inline-block;
}

img[alt^="icone"] {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    filter: invert(100%);
}

img[alt="icone-small"] {
    display: block;
    width: 1.5rem;
    height: auto;
    text-align: center;
}

#links {
    display: flex;
    overflow: hidden;
}

.name-link {
    text-align: center;
    display: flex;
    border: white 1px solid;
    width: 5rem;
    padding: .5rem 2.5rem .5rem .5rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

#name div p {
    margin: 0;
}

.tilecontent {
    width: 100%;
    align-self: center;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    margin: 2rem;
}

#name p {
    line-height: 2rem;
    margin-left: 2rem;
}

@media screen and (max-width: 1100px) {
    #all {
        margin: 0;
    }
}


@media screen and (max-width: 800px) {

    #name {
        width: 20rem;
    }
}

@media screen and (max-width: 600px) {

    #all {
        flex-direction: column-reverse;
        align-items: center;
    }

@media screen and (max-width: 400px) {
    #picture {
        display: block;
        width: 100%;
        height: auto;
    }

    #picture img {
        display: block;
        width: 100%;
        height: auto;
    }
}
}